# A MongoDB Atlas  connection string
MONGODB_URL=mongodb+srv://devdiop:devdiop@cluster0.db9y0dn.mongodb.net/

# The environment to run the application in
mode=prod

# The HTTP port to run the application on
PORT=8000
